<h3>User list</h3>
<h4>Fue borrado</h4>

<div *ngIf="lastDeleted">El elemento "{{lastDeleted}}" fue borrado</div>
<ul class="mt-2 list-group">
    <!--
        <li 
        *ngFor="let name of userNames; index as i; first as isFirst" class="list-group-items">
        {{name}}
        <span *ngIf="isFirst">default</span>
        </li>
    -->
    <li *ngFor="let names of userNames; index as i" 
        class="list-group-items">
        <span>{{i}} - {{names}}</span>
    </li>

</ul>

<button 
    (click)="removeLastElement()"
    class="btn  btn-outline-danger"
    >
    Borrar ultimo elemento
</button>