<h4>User list</h4>

<div *ngIf="isBtnDeleteItemVisible==true">
  <button
      class="btn btn-outline-danger"
      (click)="removeLastElement()"
      >
      Borrar ultimo elemento
  </button>
</div>

<div *ngIf="showRetro">
  <div *ngIf="lastDeleted else ref_nothigWasDeleted">
    El elemento "{{lastDeleted}}" fue borrado
  </div>
</div>

  <!-- (ng-template) div que no existe -->
  <ng-template #ref_nothigWasDeleted>
    <h4><strong>Lista vacia</strong></h4>
  </ng-template>


<button
    *ngIf="userNames.length > 0"
    (click)="removeLastElement()"
    class="btn  btn-outline-danger"
    >
    Borrar ultimo elemento
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let names of userNames; index as i"
        class="list-group-items">
        <span>{{i}} - {{names}}</span>
    </li>
</ul>
