<h4>User list</h4>

<div *ngIf="lastDeleted; else nothigWasDeleted" [@fadeOut]>
    El elemento "{{lastDeleted}}" fue borrado
</div>

<ng-template #nothigWasDeleted>
    <h4><strong>No se ha borrado nada</strong></h4>
</ng-template>

<button 
    (click)="removeLastElement()"
    class="btn  btn-outline-danger"
    >
    Borrar ultimo elemento
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let names of userNames; index as i" 
        class="list-group-items">
        <span>{{i}} - {{names}}</span>
    </li>
</ul>

